.backg{
    background-color: rgb(36, 53, 63) !important;
}

h1,.colorr{
  color: rgb(23, 162, 184) !important;
}


input::placeholder{
    color: rgb(173, 172, 172) !important;
}

button:hover{
    color: #fff !important;
    background-color:  rgb(23, 162, 184) !important;
    border-color:  rgb(23, 162, 184) !important;
}

.cardd{
    box-shadow: rgb(0, 0, 0) -5px 2px 54px -9px !important;
}

a:hover{
   text-decoration-line: underline !important;
}

.fa-eye {
    display: none !important;
}

body:has(#eye:checked) .fa-eye {
    display: block !important;
}

body:has(#eye:checked) .fa-eye-slash {
    display: none !important;
}


i{
    cursor: pointer;
}

.btn2{
  color: gray !important;  
}

.btn2:hover{
    background-color: rgba(225, 193, 7, 0.404) !important;
    border:rgba(225, 193, 7, 0.404) !important ;
    color: gray !important;
}


